<div id="test" class="test-section">
    <div class="test-container w-container">
        <div class="point-list-container">
            <div class="list-title">Sélectionnez parmi les test-beds</div>
            <ul class="point-list w-list-unstyled">
                <li class="test-bed">
                    <a href="#" class="test--bed--link w-inline-block">
                        <div class="test-bed-text">
                            <div class="test-bed-title">blablabla</div>
                            <div class="text-block-2">( 1000 points )</div>
                        </div>
                        <div class="test-bed-icon">
                            <div class="test-bed-icon">play_arrow</div>
                        </div>
                    </a>
                </li>
                <li class="test-bed">
                    <a href="#" class="test--bed--link w-inline-block">
                        <div class="test-bed-text">
                            <div class="test-bed-title">blablabla</div>
                            <div class="text-block-2">( 1000 points )</div>
                        </div>
                        <div class="test-bed-icon">
                            <div class="test-bed-icon">play_arrow</div>
                        </div>
                    </a>
                </li>
                <li class="test-bed">
                    <a href="#" class="test--bed--link w-inline-block">
                        <div class="test-bed-text">
                            <div class="test-bed-title">blablabla</div>
                            <div class="text-block-2">( 1000 points )</div>
                        </div>
                        <div class="test-bed-icon">
                            <div class="test-bed-icon">play_arrow</div>
                        </div>
                    </a>
                </li>
                <li class="test-bed">
                    <a href="#" class="test--bed--link w-inline-block">
                        <div class="test-bed-text">
                            <div class="test-bed-title">blablabla</div>
                            <div class="text-block-2">( 1000 points )</div>
                        </div>
                        <div class="test-bed-icon">
                            <div class="test-bed-icon">play_arrow</div>
                        </div>
                    </a>
                </li>
                <li class="test-bed">
                    <a href="#" class="test--bed--link w-inline-block">
                        <div class="test-bed-text">
                            <div class="test-bed-title">blablabla</div>
                            <div class="text-block-2">( 1000 points )</div>
                        </div>
                        <div class="test-bed-icon">
                            <div class="test-bed-icon">play_arrow</div>
                        </div>
                    </a>
                </li>
                <li class="test-bed">
                    <a href="#" class="test--bed--link w-inline-block">
                        <div class="test-bed-text">
                            <div class="test-bed-title">blablabla</div>
                            <div class="text-block-2">( 1000 points )</div>
                        </div>
                        <div class="test-bed-icon">
                            <div class="test-bed-icon">play_arrow</div>
                        </div>
                    </a>
                </li>
                <li class="test-bed">
                    <a href="#" class="test--bed--link w-inline-block">
                        <div class="test-bed-text">
                            <div class="test-bed-title">blablabla</div>
                            <div class="text-block-2">( 1000 points )</div>
                        </div>
                        <div class="test-bed-icon">
                            <div class="test-bed-icon">play_arrow</div>
                        </div>
                    </a>
                </li>
                <li class="test-bed">
                    <a href="#" class="test--bed--link w-inline-block">
                        <div class="test-bed-text">
                            <div class="test-bed-title">blablabla</div>
                            <div class="text-block-2">( 1000 points )</div>
                        </div>
                        <div class="test-bed-icon">
                            <div class="test-bed-icon">play_arrow</div>
                        </div>
                    </a>
                </li>
                <li class="test-bed">
                    <a href="#" class="test--bed--link w-inline-block">
                        <div class="test-bed-text">
                            <div class="test-bed-title">blablabla</div>
                            <div class="text-block-2">( 1000 points )</div>
                        </div>
                        <div class="test-bed-icon">
                            <div class="test-bed-icon">play_arrow</div>
                        </div>
                    </a>
                </li>
                <li class="test-bed">
                    <a href="#" class="test--bed--link w-inline-block">
                        <div class="test-bed-text">
                            <div class="test-bed-title">blablabla</div>
                            <div class="text-block-2">( 1000 points )</div>
                        </div>
                        <div class="test-bed-icon">
                            <div class="test-bed-icon">play_arrow</div>
                        </div>
                    </a>
                </li>
                <li class="test-bed">
                    <a href="#" class="test--bed--link w-inline-block">
                        <div class="test-bed-text">
                            <div class="test-bed-title">blablabla</div>
                            <div class="text-block-2">( 1000 points )</div>
                        </div>
                        <div class="test-bed-icon">
                            <div class="test-bed-icon">play_arrow</div>
                        </div>
                    </a>
                </li>
                <li class="test-bed">
                    <a href="#" class="test--bed--link w-inline-block">
                        <div class="test-bed-text">
                            <div class="test-bed-title">blablabla</div>
                            <div class="text-block-2">( 1000 points )</div>
                        </div>
                        <div class="test-bed-icon">
                            <div class="test-bed-icon">play_arrow</div>
                        </div>
                    </a>
                </li>
                <li class="test-bed">
                    <a href="#" class="test--bed--link w-inline-block">
                        <div class="test-bed-text">
                            <div class="test-bed-title">blablabla</div>
                            <div class="text-block-2">( 1000 points )</div>
                        </div>
                        <div class="test-bed-icon">
                            <div class="test-bed-icon">play_arrow</div>
                        </div>
                    </a>
                </li>
                <li class="test-bed">
                    <a href="#" class="test--bed--link w-inline-block">
                        <div class="test-bed-text">
                            <div class="test-bed-title">blablabla</div>
                            <div class="text-block-2">( 1000 points )</div>
                        </div>
                        <div class="test-bed-icon">
                            <div class="test-bed-icon">play_arrow</div>
                        </div>
                    </a>
                </li>
                <li class="test-bed">
                    <a href="#" class="test--bed--link w-inline-block">
                        <div class="test-bed-text">
                            <div class="test-bed-title">blablabla</div>
                            <div class="text-block-2">( 1000 points )</div>
                        </div>
                        <div class="test-bed-icon">
                            <div class="test-bed-icon">play_arrow</div>
                        </div>
                    </a>
                </li>
                <li class="test-bed">
                    <a href="#" class="test--bed--link w-inline-block">
                        <div class="test-bed-text">
                            <div class="test-bed-title">blablabla</div>
                            <div class="text-block-2">( 1000 points )</div>
                        </div>
                        <div class="test-bed-icon">
                            <div class="test-bed-icon">play_arrow</div>
                        </div>
                    </a>
                </li>
                <li class="test-bed">
                    <a href="#" class="test--bed--link w-inline-block">
                        <div class="test-bed-text">
                            <div class="test-bed-title">blablabla</div>
                            <div class="text-block-2">( 1000 points )</div>
                        </div>
                        <div class="test-bed-icon">
                            <div class="test-bed-icon">play_arrow</div>
                        </div>
                    </a>
                </li>
                <li class="test-bed">
                    <a href="#" class="test--bed--link w-inline-block">
                        <div class="test-bed-text">
                            <div class="test-bed-title">blablabla</div>
                            <div class="text-block-2">( 1000 points )</div>
                        </div>
                        <div class="test-bed-icon">
                            <div class="test-bed-icon">play_arrow</div>
                        </div>
                    </a>
                </li>
                <li class="test-bed">
                    <a href="#" class="test--bed--link w-inline-block">
                        <div class="test-bed-text">
                            <div class="test-bed-title">blablabla</div>
                            <div class="text-block-2">( 1000 points )</div>
                        </div>
                        <div class="test-bed-icon">
                            <div class="test-bed-icon">play_arrow</div>
                        </div>
                    </a>
                </li>
                <li class="test-bed">
                    <a href="#" class="test--bed--link w-inline-block">
                        <div class="test-bed-text">
                            <div class="test-bed-title">blablabla</div>
                            <div class="text-block-2">( 1000 points )</div>
                        </div>
                        <div class="test-bed-icon">
                            <div class="test-bed-icon">play_arrow</div>
                        </div>
                    </a>
                </li>
                <li class="test-bed">
                    <a href="#" class="test--bed--link w-inline-block">
                        <div class="test-bed-text">
                            <div class="test-bed-title">blablabla</div>
                            <div class="text-block-2">( 1000 points )</div>
                        </div>
                        <div class="test-bed-icon">
                            <div class="test-bed-icon">play_arrow</div>
                        </div>
                    </a>
                </li>
                <li class="test-bed">
                    <a href="#" class="test--bed--link w-inline-block">
                        <div class="test-bed-text">
                            <div class="test-bed-title">blablabla</div>
                            <div class="text-block-2">( 1000 points )</div>
                        </div>
                        <div class="test-bed-icon">
                            <div class="test-bed-icon">play_arrow</div>
                        </div>
                    </a>
                </li>
                <li class="test-bed">
                    <a href="#" class="test--bed--link w-inline-block">
                        <div class="test-bed-text">
                            <div class="test-bed-title">blablabla</div>
                            <div class="text-block-2">( 1000 points )</div>
                        </div>
                        <div class="test-bed-icon">
                            <div class="test-bed-icon">play_arrow</div>
                        </div>
                    </a>
                </li>
                <li class="test-bed">
                    <a href="#" class="test--bed--link w-inline-block">
                        <div class="test-bed-text">
                            <div class="test-bed-title">blablabla</div>
                            <div class="text-block-2">( 1000 points )</div>
                        </div>
                        <div class="test-bed-icon">
                            <div class="test-bed-icon">play_arrow</div>
                        </div>
                    </a>
                </li>
                <li class="test-bed">
                    <a href="#" class="test--bed--link w-inline-block">
                        <div class="test-bed-text">
                            <div class="test-bed-title">blablabla</div>
                            <div class="text-block-2">( 1000 points )</div>
                        </div>
                        <div class="test-bed-icon">
                            <div class="test-bed-icon">play_arrow</div>
                        </div>
                    </a>
                </li>
                <li class="test-bed">
                    <a href="#" class="test--bed--link w-inline-block">
                        <div class="test-bed-text">
                            <div class="test-bed-title">blablabla</div>
                            <div class="text-block-2">( 1000 points )</div>
                        </div>
                        <div class="test-bed-icon">
                            <div class="test-bed-icon">play_arrow</div>
                        </div>
                    </a>
                </li>
                <li class="test-bed">
                    <a href="#" class="test--bed--link w-inline-block">
                        <div class="test-bed-text">
                            <div class="test-bed-title">blablabla</div>
                            <div class="text-block-2">( 1000 points )</div>
                        </div>
                        <div class="test-bed-icon">
                            <div class="test-bed-icon">play_arrow</div>
                        </div>
                    </a>
                </li>
                <li class="test-bed">
                    <a href="#" class="test--bed--link w-inline-block">
                        <div class="test-bed-text">
                            <div class="test-bed-title">blablabla</div>
                            <div class="text-block-2">( 1000 points )</div>
                        </div>
                        <div class="test-bed-icon">
                            <div class="test-bed-icon">play_arrow</div>
                        </div>
                    </a>
                </li>
                <li class="test-bed">
                    <a href="#" class="test--bed--link w-inline-block">
                        <div class="test-bed-text">
                            <div class="test-bed-title">blablabla</div>
                            <div class="text-block-2">( 1000 points )</div>
                        </div>
                        <div class="test-bed-icon">
                            <div class="test-bed-icon">play_arrow</div>
                        </div>
                    </a>
                </li>
                <li class="test-bed">
                    <a href="#" class="test--bed--link w-inline-block">
                        <div class="test-bed-text">
                            <div class="test-bed-title">blablabla</div>
                            <div class="text-block-2">( 1000 points )</div>
                        </div>
                        <div class="test-bed-icon">
                            <div class="test-bed-icon">play_arrow</div>
                        </div>
                    </a>
                </li>
            </ul>
            <div class="new-test-bed-buttons-container">
                <div class="new-button-container">
                    <div class="button-icon">create</div>
                </div>
                <div class="random-button-container">
                    <div class="button-icon">refresh</div>
                </div>
            </div>
        </div>
        <div class="map--container">
            <div class="map-image-contaiiner"><img src="images/carte_monde_dummy.JPG" srcset="images/carte_monde_dummy-p-500.jpeg 500w, images/carte_monde_dummy.JPG 700w" sizes="(max-width: 479px) 100vw, (max-width: 744px) 94vw, (max-width: 767px) 700px, (max-width: 991px) 349.015625px, 561.015625px"></div>
        </div>
        <div class="test-bed-stats-container">
            <div class="s-mis-stats">
                <div class="list-title">S-MIS Algorithme</div>
                <div class="stat-container">
                    <div class="stat-title">32141421 ms</div>
                    <div class="stat-icon">timer</div>
                    <div class="stat-description">Temps d&#x27;exécution</div>
                </div>
                <div class="stat-container">
                    <div class="stat-title">32141421</div>
                    <div class="stat-icon">bubble_chart</div>
                    <div class="stat-description">Points crées</div>
                </div>
                <div class="stat-container">
                    <div class="stat-title">32141421</div>
                    <div class="stat-icon">linear_scale</div>
                    <div class="stat-description">Liaisons</div>
                </div>
                <div class="stat-container">
                    <div class="stat-title">32141421</div>
                    <div class="stat-icon">polymer</div>
                    <div class="stat-description">Taille de CDS</div>
                </div>
            </div>
            <div class="s-mis-stats">
                <div class="list-title">rS-MIS Algorithme</div>
                <div class="stat-container">
                    <div class="stat-title">32141421 ms</div>
                    <div class="stat-icon">timer</div>
                    <div class="stat-description">Temps d&#x27;exécution</div>
                </div>
                <div class="stat-container">
                    <div class="stat-title">32141421</div>
                    <div class="stat-icon">bubble_chart</div>
                    <div class="stat-description">Points crées</div>
                </div>
                <div class="stat-container">
                    <div class="stat-title">32141421</div>
                    <div class="stat-icon">linear_scale</div>
                    <div class="stat-description">Liaisons</div>
                </div>
                <div class="stat-container">
                    <div class="stat-title">32141421</div>
                    <div class="stat-icon">polymer</div>
                    <div class="stat-description">Taille de CDS</div>
                </div>
            </div>
        </div>
    </div>
</div>