<div class="footer-section">
    <div class="header-section-container w-container">
        <a href="#main" class="logo w-inline-block"><img src="images/favicon.png" width="64"></a>
        <div class="footer-menu">
            <div>Made with ❤️ by <a href="https://kaanyagci.com" target="_blank" class="inline-link">Kaan YAGCI</a></div>
        </div>
        <a href="https://www.sorbonne-universite.fr/" target="_blank" class="logo-sorbonne w-inline-block"><img src="images/upmcNouveau.png" width="103.5"></a>
    </div>
</div>