<div id="source" class="source-section">
    <div class="source-container w-container">
        <a href="https://github.com/Misteryagci/wi-connect" target="_blank" class="github-container w-inline-block"><img src="images/Octocat.png" width="320" srcset="images/Octocat-p-500.png 500w, images/Octocat.png 800w" sizes="(max-width: 767px) 100vw, 320px" class="octocat-big-image w-hidden-small w-hidden-tiny"><img src="images/Octocat.png" width="128"
                srcset="images/Octocat-p-500.png 500w, images/Octocat.png 800w" sizes="(max-width: 767px) 128px, 100vw" class="octocat-small-image w-hidden-main w-hidden-medium">
            <div class="git-code-container">git clone https://github.com/Misteryagci/wi-connect.git</div>
        </a>
        <div class="golang-container">
            <div class="gopher-code-container">
                <div class="text-block">go get github.com/Misteryagci/wi-connect/server</div>
            </div><img src="images/gopher_head.png" width="200" class="gopher-small-image w-hidden-main w-hidden-medium"><img src="images/gopher_head.png" class="gopher-big-image w-hidden-small w-hidden-tiny"></div>
    </div>
</div>