<div data-collapse="medium" data-animation="default" data-duration="400" class="navbar w-nav">
    <div class="container w-container">
        <a href="#main" class="brand w-nav-brand"><img src="images/favicon.png" width="64"></a>
        <nav role="navigation" class="nav-menu w-nav-menu">
            <div class="menu-item-container"><a href="#presentation" class="menu-link-block w-nav-link"><strong class="menu-link-icon">details</strong> <strong class="menu-link">Présentation</strong></a></div>
            <div class="menu-item-container"><a href="#test" class="menu-link-block w-nav-link"><strong class="menu-link-icon">whatshot</strong> <strong class="menu-link">Testez<br></strong></a></div>
            <div class="menu-item-container"><a href="#source" class="menu-link-block w-nav-link"><strong class="menu-link-icon">code<br></strong> <strong class="menu-link">Code source</strong></a></div>
        </nav>
        <div class="menu-button-container w-hidden-main">
            <div class="menu-button w-nav-button">
                <div class="w-icon-nav-menu"></div>
            </div>
        </div>
    </div>
</div>
<div id="main" class="main-section">
    <div class="main-container w-container">
        <div class="text-container">
            <div class="description-text">
                <div><strong class="bold-text">Wi-connect</strong> permet de visualiser l&#x27;algorithme glouton proposée par Li et al dans <a href="https://kaanyagci.com" target="_blank" class="inline-link">[Li, Thai, Wang, Yi, Wan, and Du. Wireless Communications and Mobile Computing, 2005]</a></div>
            </div>
        </div>
        <div class="key-values">
            <div class="stat-data">
                <div class="number-value">123546</div>
                <div class="icon-value">replay</div>
                <div class="text-value">Exécutions</div>
            </div>
            <div class="stat-data">
                <div class="number-value">123546</div>
                <div class="icon-value">person</div>
                <div class="text-value">Utilisateurs</div>
            </div>
            <div class="stat-data">
                <div class="number-value">12354.45 <strong class="small-bold-text">ms</strong></div>
                <div class="icon-value">timer</div>
                <div class="text-value">Temps d&#x27;exécution moyen</div>
            </div>
            <div class="stat-data">
                <div class="number-value">123546</div>
                <div class="icon-value">fiber_manual_record</div>
                <div class="text-value">Point générés</div>
            </div>
            <div class="stat-data">
                <div class="number-value">123546</div>
                <div class="icon-value">timeline</div>
                <div class="text-value">Points liées</div>
            </div>
        </div>
    </div>
</div>
<div id="presentation" class="presentation-section">
    <div class="presentation-container w-container">
        <h1>Présentation du problème</h1>
        <p>Cette application est fait dans le cadre de projet du module <a href="https://www-apr.lip6.fr/~buixuan/cpa2017" target="_blank" class="inline-link">CPA (<strong xmlns="http://www.w3.org/1999/xhtml">C</strong>onception <strong xmlns="http://www.w3.org/1999/xhtml">P</strong>ratique de l&#x27;<strong xmlns="http://www.w3.org/1999/xhtml">A</strong>lgorithmique)</a> de
            l&#x27;UPMC (<strong>U</strong>niversité <strong>P</strong>ierre et <strong>M</strong>arie <strong>C</strong>urie) dont vous pouvez accéder à l&#x27;énoncé en cliquant <a href="https://kaanyagci.com" class="inline-link">ici</a>. La présentation
            du problème indiqué dans le document de recherche est comme ceci:</p>
        <blockquote>Comme il n&#x27;y a pas d&#x27;infrastructure fixé ni de gestion centralisée présent dans les réseaux Wi-fi, un ensemble dominant connexe (CDS) d&#x27;une graphe qui représente le réseau est largement utilisé comme un backbone virtuel. La construction
            d&#x27;un CDS est NP-difficile. Dans cette papier de recherche, nous proposons un nouveau algorithme glouton, appelé S-MIS, à l&#x27;aide d&#x27;un Arbre de Steiner qui construit un CDS dans un facteur de <em>4.8 + ln5</em> depuis la solution
            optimale.
            <br>Nous introduisons aussi une version distribuée de cet algorithme. Nous prouvons que l&#x27;algorithme proposé est mieux que le meilleur performance ratio actuel qui est 6.8. Une simulation est conduite pour comparer S-MIS avec sa variation
            qui est rS-MIS. La simulation montre que les tailles des CDS générés par S-MIS et rS-MIS sont quasiment le même.</blockquote>
        <p>Pour l&#x27;implémentation des algorithmes sont fait en langage <a href="https://golang.org/" target="_blank" class="inline-link">Go</a> en s&#x27;appuyant sur la notion de concurrence, la partie visualisation sont fait en <a href="http://www.typescriptlang.org/"
                target="_blank" class="inline-link">TypeScript</a> avec framework <a href="https://angular.io/" target="_blank" class="inline-link">Angular 5</a>, <a href="https://d3js.org/" class="inline-link">D3.js</a>, et <a href="https://material.angular.io/"
                target="_blank" class="inline-link">Angular Material</a>. Le code source de projet est hébergé sur <a href="https://github.com" target="_blank" class="inline-link">Github</a> et complètement open source. Ainsi que les modules contenant les
            structures des données et les implémentation des algorithmes est Go -getable. Pour plus d&#x27;information consultez la section <a href="#pre-source" class="inline-link">code source</a></p>
    </div>
</div>
<div id="test" class="test-section">
    <div class="test-container w-container">
        <div class="point-list-container">
            <div class="list-title">Sélectionnez parmi les test-beds</div>
            <ul class="point-list w-list-unstyled">
                <li class="test-bed">
                    <a href="#" class="test--bed--link w-inline-block">
                        <div class="test-bed-text">
                            <div class="test-bed-title">blablabla</div>
                            <div class="text-block-2">( 1000 points )</div>
                        </div>
                        <div class="test-bed-icon">
                            <div class="test-bed-icon">play_arrow</div>
                        </div>
                    </a>
                </li>
                <li class="test-bed">
                    <a href="#" class="test--bed--link w-inline-block">
                        <div class="test-bed-text">
                            <div class="test-bed-title">blablabla</div>
                            <div class="text-block-2">( 1000 points )</div>
                        </div>
                        <div class="test-bed-icon">
                            <div class="test-bed-icon">play_arrow</div>
                        </div>
                    </a>
                </li>
                <li class="test-bed">
                    <a href="#" class="test--bed--link w-inline-block">
                        <div class="test-bed-text">
                            <div class="test-bed-title">blablabla</div>
                            <div class="text-block-2">( 1000 points )</div>
                        </div>
                        <div class="test-bed-icon">
                            <div class="test-bed-icon">play_arrow</div>
                        </div>
                    </a>
                </li>
                <li class="test-bed">
                    <a href="#" class="test--bed--link w-inline-block">
                        <div class="test-bed-text">
                            <div class="test-bed-title">blablabla</div>
                            <div class="text-block-2">( 1000 points )</div>
                        </div>
                        <div class="test-bed-icon">
                            <div class="test-bed-icon">play_arrow</div>
                        </div>
                    </a>
                </li>
                <li class="test-bed">
                    <a href="#" class="test--bed--link w-inline-block">
                        <div class="test-bed-text">
                            <div class="test-bed-title">blablabla</div>
                            <div class="text-block-2">( 1000 points )</div>
                        </div>
                        <div class="test-bed-icon">
                            <div class="test-bed-icon">play_arrow</div>
                        </div>
                    </a>
                </li>
                <li class="test-bed">
                    <a href="#" class="test--bed--link w-inline-block">
                        <div class="test-bed-text">
                            <div class="test-bed-title">blablabla</div>
                            <div class="text-block-2">( 1000 points )</div>
                        </div>
                        <div class="test-bed-icon">
                            <div class="test-bed-icon">play_arrow</div>
                        </div>
                    </a>
                </li>
                <li class="test-bed">
                    <a href="#" class="test--bed--link w-inline-block">
                        <div class="test-bed-text">
                            <div class="test-bed-title">blablabla</div>
                            <div class="text-block-2">( 1000 points )</div>
                        </div>
                        <div class="test-bed-icon">
                            <div class="test-bed-icon">play_arrow</div>
                        </div>
                    </a>
                </li>
                <li class="test-bed">
                    <a href="#" class="test--bed--link w-inline-block">
                        <div class="test-bed-text">
                            <div class="test-bed-title">blablabla</div>
                            <div class="text-block-2">( 1000 points )</div>
                        </div>
                        <div class="test-bed-icon">
                            <div class="test-bed-icon">play_arrow</div>
                        </div>
                    </a>
                </li>
                <li class="test-bed">
                    <a href="#" class="test--bed--link w-inline-block">
                        <div class="test-bed-text">
                            <div class="test-bed-title">blablabla</div>
                            <div class="text-block-2">( 1000 points )</div>
                        </div>
                        <div class="test-bed-icon">
                            <div class="test-bed-icon">play_arrow</div>
                        </div>
                    </a>
                </li>
                <li class="test-bed">
                    <a href="#" class="test--bed--link w-inline-block">
                        <div class="test-bed-text">
                            <div class="test-bed-title">blablabla</div>
                            <div class="text-block-2">( 1000 points )</div>
                        </div>
                        <div class="test-bed-icon">
                            <div class="test-bed-icon">play_arrow</div>
                        </div>
                    </a>
                </li>
                <li class="test-bed">
                    <a href="#" class="test--bed--link w-inline-block">
                        <div class="test-bed-text">
                            <div class="test-bed-title">blablabla</div>
                            <div class="text-block-2">( 1000 points )</div>
                        </div>
                        <div class="test-bed-icon">
                            <div class="test-bed-icon">play_arrow</div>
                        </div>
                    </a>
                </li>
                <li class="test-bed">
                    <a href="#" class="test--bed--link w-inline-block">
                        <div class="test-bed-text">
                            <div class="test-bed-title">blablabla</div>
                            <div class="text-block-2">( 1000 points )</div>
                        </div>
                        <div class="test-bed-icon">
                            <div class="test-bed-icon">play_arrow</div>
                        </div>
                    </a>
                </li>
                <li class="test-bed">
                    <a href="#" class="test--bed--link w-inline-block">
                        <div class="test-bed-text">
                            <div class="test-bed-title">blablabla</div>
                            <div class="text-block-2">( 1000 points )</div>
                        </div>
                        <div class="test-bed-icon">
                            <div class="test-bed-icon">play_arrow</div>
                        </div>
                    </a>
                </li>
                <li class="test-bed">
                    <a href="#" class="test--bed--link w-inline-block">
                        <div class="test-bed-text">
                            <div class="test-bed-title">blablabla</div>
                            <div class="text-block-2">( 1000 points )</div>
                        </div>
                        <div class="test-bed-icon">
                            <div class="test-bed-icon">play_arrow</div>
                        </div>
                    </a>
                </li>
                <li class="test-bed">
                    <a href="#" class="test--bed--link w-inline-block">
                        <div class="test-bed-text">
                            <div class="test-bed-title">blablabla</div>
                            <div class="text-block-2">( 1000 points )</div>
                        </div>
                        <div class="test-bed-icon">
                            <div class="test-bed-icon">play_arrow</div>
                        </div>
                    </a>
                </li>
                <li class="test-bed">
                    <a href="#" class="test--bed--link w-inline-block">
                        <div class="test-bed-text">
                            <div class="test-bed-title">blablabla</div>
                            <div class="text-block-2">( 1000 points )</div>
                        </div>
                        <div class="test-bed-icon">
                            <div class="test-bed-icon">play_arrow</div>
                        </div>
                    </a>
                </li>
                <li class="test-bed">
                    <a href="#" class="test--bed--link w-inline-block">
                        <div class="test-bed-text">
                            <div class="test-bed-title">blablabla</div>
                            <div class="text-block-2">( 1000 points )</div>
                        </div>
                        <div class="test-bed-icon">
                            <div class="test-bed-icon">play_arrow</div>
                        </div>
                    </a>
                </li>
                <li class="test-bed">
                    <a href="#" class="test--bed--link w-inline-block">
                        <div class="test-bed-text">
                            <div class="test-bed-title">blablabla</div>
                            <div class="text-block-2">( 1000 points )</div>
                        </div>
                        <div class="test-bed-icon">
                            <div class="test-bed-icon">play_arrow</div>
                        </div>
                    </a>
                </li>
                <li class="test-bed">
                    <a href="#" class="test--bed--link w-inline-block">
                        <div class="test-bed-text">
                            <div class="test-bed-title">blablabla</div>
                            <div class="text-block-2">( 1000 points )</div>
                        </div>
                        <div class="test-bed-icon">
                            <div class="test-bed-icon">play_arrow</div>
                        </div>
                    </a>
                </li>
                <li class="test-bed">
                    <a href="#" class="test--bed--link w-inline-block">
                        <div class="test-bed-text">
                            <div class="test-bed-title">blablabla</div>
                            <div class="text-block-2">( 1000 points )</div>
                        </div>
                        <div class="test-bed-icon">
                            <div class="test-bed-icon">play_arrow</div>
                        </div>
                    </a>
                </li>
                <li class="test-bed">
                    <a href="#" class="test--bed--link w-inline-block">
                        <div class="test-bed-text">
                            <div class="test-bed-title">blablabla</div>
                            <div class="text-block-2">( 1000 points )</div>
                        </div>
                        <div class="test-bed-icon">
                            <div class="test-bed-icon">play_arrow</div>
                        </div>
                    </a>
                </li>
                <li class="test-bed">
                    <a href="#" class="test--bed--link w-inline-block">
                        <div class="test-bed-text">
                            <div class="test-bed-title">blablabla</div>
                            <div class="text-block-2">( 1000 points )</div>
                        </div>
                        <div class="test-bed-icon">
                            <div class="test-bed-icon">play_arrow</div>
                        </div>
                    </a>
                </li>
                <li class="test-bed">
                    <a href="#" class="test--bed--link w-inline-block">
                        <div class="test-bed-text">
                            <div class="test-bed-title">blablabla</div>
                            <div class="text-block-2">( 1000 points )</div>
                        </div>
                        <div class="test-bed-icon">
                            <div class="test-bed-icon">play_arrow</div>
                        </div>
                    </a>
                </li>
                <li class="test-bed">
                    <a href="#" class="test--bed--link w-inline-block">
                        <div class="test-bed-text">
                            <div class="test-bed-title">blablabla</div>
                            <div class="text-block-2">( 1000 points )</div>
                        </div>
                        <div class="test-bed-icon">
                            <div class="test-bed-icon">play_arrow</div>
                        </div>
                    </a>
                </li>
                <li class="test-bed">
                    <a href="#" class="test--bed--link w-inline-block">
                        <div class="test-bed-text">
                            <div class="test-bed-title">blablabla</div>
                            <div class="text-block-2">( 1000 points )</div>
                        </div>
                        <div class="test-bed-icon">
                            <div class="test-bed-icon">play_arrow</div>
                        </div>
                    </a>
                </li>
                <li class="test-bed">
                    <a href="#" class="test--bed--link w-inline-block">
                        <div class="test-bed-text">
                            <div class="test-bed-title">blablabla</div>
                            <div class="text-block-2">( 1000 points )</div>
                        </div>
                        <div class="test-bed-icon">
                            <div class="test-bed-icon">play_arrow</div>
                        </div>
                    </a>
                </li>
                <li class="test-bed">
                    <a href="#" class="test--bed--link w-inline-block">
                        <div class="test-bed-text">
                            <div class="test-bed-title">blablabla</div>
                            <div class="text-block-2">( 1000 points )</div>
                        </div>
                        <div class="test-bed-icon">
                            <div class="test-bed-icon">play_arrow</div>
                        </div>
                    </a>
                </li>
                <li class="test-bed">
                    <a href="#" class="test--bed--link w-inline-block">
                        <div class="test-bed-text">
                            <div class="test-bed-title">blablabla</div>
                            <div class="text-block-2">( 1000 points )</div>
                        </div>
                        <div class="test-bed-icon">
                            <div class="test-bed-icon">play_arrow</div>
                        </div>
                    </a>
                </li>
                <li class="test-bed">
                    <a href="#" class="test--bed--link w-inline-block">
                        <div class="test-bed-text">
                            <div class="test-bed-title">blablabla</div>
                            <div class="text-block-2">( 1000 points )</div>
                        </div>
                        <div class="test-bed-icon">
                            <div class="test-bed-icon">play_arrow</div>
                        </div>
                    </a>
                </li>
                <li class="test-bed">
                    <a href="#" class="test--bed--link w-inline-block">
                        <div class="test-bed-text">
                            <div class="test-bed-title">blablabla</div>
                            <div class="text-block-2">( 1000 points )</div>
                        </div>
                        <div class="test-bed-icon">
                            <div class="test-bed-icon">play_arrow</div>
                        </div>
                    </a>
                </li>
            </ul>
            <div class="new-test-bed-buttons-container">
                <div class="new-button-container">
                    <div class="button-icon">create</div>
                </div>
                <div class="random-button-container">
                    <div class="button-icon">refresh</div>
                </div>
            </div>
        </div>
        <div class="map--container">
            <div class="map-image-contaiiner"><img src="images/carte_monde_dummy.JPG" srcset="images/carte_monde_dummy-p-500.jpeg 500w, images/carte_monde_dummy.JPG 700w" sizes="(max-width: 479px) 100vw, (max-width: 744px) 94vw, (max-width: 767px) 700px, (max-width: 991px) 349.015625px, 561.015625px"></div>
        </div>
        <div class="test-bed-stats-container">
            <div class="s-mis-stats">
                <div class="list-title">S-MIS Algorithme</div>
                <div class="stat-container">
                    <div class="stat-title">32141421 ms</div>
                    <div class="stat-icon">timer</div>
                    <div class="stat-description">Temps d&#x27;exécution</div>
                </div>
                <div class="stat-container">
                    <div class="stat-title">32141421</div>
                    <div class="stat-icon">bubble_chart</div>
                    <div class="stat-description">Points crées</div>
                </div>
                <div class="stat-container">
                    <div class="stat-title">32141421</div>
                    <div class="stat-icon">linear_scale</div>
                    <div class="stat-description">Liaisons</div>
                </div>
                <div class="stat-container">
                    <div class="stat-title">32141421</div>
                    <div class="stat-icon">polymer</div>
                    <div class="stat-description">Taille de CDS</div>
                </div>
            </div>
            <div class="s-mis-stats">
                <div class="list-title">rS-MIS Algorithme</div>
                <div class="stat-container">
                    <div class="stat-title">32141421 ms</div>
                    <div class="stat-icon">timer</div>
                    <div class="stat-description">Temps d&#x27;exécution</div>
                </div>
                <div class="stat-container">
                    <div class="stat-title">32141421</div>
                    <div class="stat-icon">bubble_chart</div>
                    <div class="stat-description">Points crées</div>
                </div>
                <div class="stat-container">
                    <div class="stat-title">32141421</div>
                    <div class="stat-icon">linear_scale</div>
                    <div class="stat-description">Liaisons</div>
                </div>
                <div class="stat-container">
                    <div class="stat-title">32141421</div>
                    <div class="stat-icon">polymer</div>
                    <div class="stat-description">Taille de CDS</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="source" class="source-section">
    <div class="source-container w-container">
        <a href="https://github.com/Misiteryagci/wi-connect" target="_blank" class="github-container w-inline-block"><img src="images/Octocat.png" width="320" srcset="images/Octocat-p-500.png 500w, images/Octocat.png 800w" sizes="(max-width: 767px) 100vw, 320px" class="octocat-big-image w-hidden-small w-hidden-tiny"><img src="images/Octocat.png" width="128"
                srcset="images/Octocat-p-500.png 500w, images/Octocat.png 800w" sizes="(max-width: 767px) 128px, 100vw" class="octocat-small-image w-hidden-main w-hidden-medium">
            <div class="git-code-container">git clone https://github.com/Misteryagci/wi-connect.git</div>
        </a>
        <div class="golang-container">
            <div class="gopher-code-container">
                <div class="text-block">go get github.com/Misteryagci/wi-connect/server</div>
            </div><img src="images/gopher_head.png" width="200" class="gopher-small-image w-hidden-main w-hidden-medium"><img src="images/gopher_head.png" class="gopher-big-image w-hidden-small w-hidden-tiny"></div>
    </div>
</div>
<div class="footer-section">
    <div class="header-section-container w-container">
        <a href="#pre-main" class="logo w-inline-block"><img src="images/favicon.png" width="64"></a>
        <div class="footer-menu">
            <div>Made with ❤️ by <a href="https://kaanyagci.com" target="_blank" class="inline-link">Kaan YAGCI</a></div>
        </div>
        <a href="https://www.sorbonne-universite.fr/" target="_blank" class="logo-sorbonne w-inline-block"><img src="images/upmcNouveau.png" width="103.5"></a>
    </div>
</div>