<div id="main" class="main-section">
    <div class="main-container w-container">
        <div class="text-container">
            <div class="description-text">
                <div><strong class="bold-text">Wi-connect</strong> permet de visualiser l&#x27;algorithme glouton proposée par Li et al dans <a href="/assets/paper.pdf" target="_blank" class="inline-link">[Li, Thai, Wang, Yi, Wan, and Du. Wireless Communications and Mobile Computing, 2005]</a></div>
            </div>
        </div>
        <div class="key-values">
            <div class="stat-data">
                <div class="number-value">123546</div>
                <div class="icon-value">replay</div>
                <div class="text-value">Exécutions</div>
            </div>
            <div class="stat-data">
                <div class="number-value">123546</div>
                <div class="icon-value">person</div>
                <div class="text-value">Utilisateurs</div>
            </div>
            <div class="stat-data">
                <div class="number-value">12354.45 <strong class="small-bold-text">ms</strong></div>
                <div class="icon-value">timer</div>
                <div class="text-value">Temps d&#x27;exécution moyen</div>
            </div>
            <div class="stat-data">
                <div class="number-value">123546</div>
                <div class="icon-value">fiber_manual_record</div>
                <div class="text-value">Point générés</div>
            </div>
            <div class="stat-data">
                <div class="number-value">123546</div>
                <div class="icon-value">timeline</div>
                <div class="text-value">Points liées</div>
            </div>
        </div>
    </div>
</div>