<div data-collapse="medium" data-animation="default" data-duration="400" class="navbar w-nav">
    <div class="container w-container">
        <a href="#main" class="brand w-nav-brand"><img src="images/favicon.png" width="64"></a>
        <nav role="navigation" class="nav-menu w-nav-menu">
            <div class="menu-item-container"><a href="#presentation" class="menu-link-block w-nav-link"><strong class="menu-link-icon">details</strong> <strong class="menu-link">Présentation</strong></a></div>
            <div class="menu-item-container"><a href="#test" class="menu-link-block w-nav-link"><strong class="menu-link-icon">whatshot</strong> <strong class="menu-link">Testez<br></strong></a></div>
            <div class="menu-item-container"><a href="#source" class="menu-link-block w-nav-link"><strong class="menu-link-icon">code<br></strong> <strong class="menu-link">Code source</strong></a></div>
        </nav>
        <div class="menu-button-container w-hidden-main">
            <div class="menu-button w-nav-button">
                <div class="w-icon-nav-menu"></div>
            </div>
        </div>
    </div>
</div>